.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding-top: 10px;
  padding-left: 10px;
  /* background-color: aqua; */
}

.cart-container {
  background-color: bisque;
  padding-left: 15px;
}

.weight-list {
  display: flex;
  gap: 30px;
}
/* 
.owner-img{
    width: 10%;
    height: 10px;
} */

.cart img {
  width: 50px;
}
.time-btn {
  justify-content: space-between;
  display: flex;
}

.activity-btn {
  text-align: center;
}

.cart {
  position: sticky;
  top: 0;
}

@media screen and (max-width: 800px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
